openapi: 3.0.1
servers:
  - url: 'http://api.relampago.cash/'
info:
  description: These are specifications for using the Relampago API. Relampago allows for Bitcoin Lightning users to offramp their Lightning Bitcoin into any Mexican bank account over the SPEI network. Recipients can receive using a phone number, debit card, or a traditional bank account. Relampago offers instant settlement into MXN during work hours, and same-day settlement on weekends. Relampago maintains the service level agreement that once an invoice has been successfully generated for a valid user, and Lightning Bitcoin has been paid to the invoice, that peso amount will be successfully delivered to the user. 
  version: 1.0.0
  title: Relampago API Specifications
tags:
  - name: Info
  - name: Orders
  - name: Verification

paths:
  /apikey:
    get:
      tags:
        - Authentication
      description: "Get a list of all the api keys corresponding to your organization"
      summary: List All Api Keys

      parameters:
        - in: query
          name: orgId
          example: "PlatapusCorp"
          schema:
            type: string
          required: true
          description: id of the organization in our system
              
      responses:
        '200':
          description: The response returns an array of api keys, each containing the orgId, name and value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApiKeysResponse' 
                
  
    post:
      tags:
        - Authentication
      description: Generate an api key for your organization
      summary: Generate Api Key
      requestBody:
        
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateApiKeyRequest'
            example:
              orgId: PlatapusCorp
              name: MannysKey
              desc: do not delete my key
              
      responses:
        '200':
          description: Returns an api key object containing the name, description, orgId and value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateApiKeyResponse'
  
  /rates:
    get:
      tags:
        - Rates
      summary: Get Rates Info
      description: Returns info about our BTC/local currency rates and transaction fees

      parameters:
        - in: query
          name: orgId
          example: "PlatapusCorp"
          schema:
            type: string
          required: true
          description: id of the organization in our system

        - in: query
          name: satoshis
          example: 1000000
          schema:
            type: integer
          required: true
          description: the amount of satoshis the remitter is sending
              
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRatesResponse'  
  /verify:
    post:
      tags:
        - Verification
      summary: Verify Recipient
      description: Verifies that a recipient's bank account info is valid. Depending on the method ("debit card", "phone number","clabe"), some fields will be required. For example for sending to a bank account, the "method", "clabe", "beneficiary", and "institutionName" field are required 

      requestBody:
        
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyBankAccountRequest'
            example:
              beneficiary: Jose Medina
              institutionName: Santander
              method: clabe
              phoneNumber: ""
              debitCard: ""
              institutionCode: "303"
              
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyBankAccountResponse'
  /order:
    get:
      tags:
        - Orders
      summary: Get Order Status
      description: Returns the status of the payment after we've received a paid LN invoice

      parameters:
        - in: query
          name: txId
          example: "d3993-a59"
          schema:
            type: string
          required: true
          description: id of the transaction in our system
              
      responses:
        '200':
          description: Sucessful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentStatusResponse'    
    post:
      tags:
        - Orders
      summary: Request Lightning Invoice
      description: Requests a lightning invoice to be generated for some end-user within the Mexican SPEI financial network. Relampago supports sending to a bank account (CLABE), a debit card, or a phone number.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LnInvoiceRequest'
              
      responses:
        '200':
          description: nothing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LnInvoiceResponse' 
  /banks:
    get:
      tags:
        - Info
      summary: Get Banks
      description: Returns a comprehensive list of banks to which we can send local currency 
      parameters:
        - in: query
          name: countryCode
          style: form
          explode: false
          schema:
            type: string
            example: USA
          required: true
          description: country code as per the ISO 3166-1 alpha-2 standard
          example: MX
              
      responses:
        '200':
          description: Sucessful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawalProvidersResponse'
components:
  requestBodies:
    LightningInvoiceRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LightningInvoiceRequest'
      description: List of user object
      required: true
  schemas:
    RequestLightningInvoicePayload:
      title: Lightning Invoice Request
      type: object
      properties:
        success:
          type: boolean
          example: true
    LightningInvoiceRequest:
      title: Lightning Invoice Request
      description: A lightning invoice request
      type: object
      required:
        - amount
        - name
      properties:
        amount:
          type: integer
          format: uint256
          description: Number of LN Satoshis to send to the end-user.
          example: 100
        name:
          type: string
          description: Bank name of the end-user.
          example: "Jonathan Smith"
        clabe:
          type: integer
          format: float64
          description: Clabe identifier of the end-user.
          example: 123123423535
    GetRatesRequest:
      type: object
      properties:
        orgId:
          type: string
          example: PlatapusCorp
        amountBtc:
          type: number
          format: string
          example: 1000000
        currency:
          type: string
          example: mxn
      required:
        - id
        - amountBtc
        - orgId
    GetRatesResponse:
      type: object
      description: Returns the BTC / Local Currency rate we use, and the exact amount of local currency that the recipient receives
      properties:
        rate:
          type: number
          format: double
          example: 444239.39
        recipientReceives:
          type: number
          format: double
          example: 400.58
          
    LnInvoiceRequest:
      type: object
      properties:
        orgId:
          type: string
          example: PlatapusCorp
          
        satoshis:
          type: integer
          example: 10000
          
        recipientInfo:
          type: object
          properties:
            beneficiary:
              type: string
              example: Jose Medina
            clabe:
              type: string
              example: 139456293583293684
            institutionName:
              type: string
              example: BBVA
            institutionCode:
              type: string
              example: 303
            method:
              type: string
              example: clabe
            debitCard:
              type: string
              example: ""
            phoneNumber:
              type: string
              example: ""
          
    GenerateApiKeyRequest:
      type: object
      properties:
        orgId:
          type: string
          example: PlatapusCorp
        name:
          type: string
          example: MannysKey
        desc:
          type: string
          example: for testing cool apis
          
    LnInvoiceResponse:
      type: object
      description: Returns the transactionId in our system and a Lightning invoice with a one minute expiry
      properties:
        txId:
          type: string
          example: "d3993-a59"
        lnInvoice:
          type: string
          
    PaymentStatusResponse:
      type: object
      description: Returns the transaction id in our system, and the payment status ('complete','pending', etc)
      properties:
        txId:
          type: string
          example: "d3993-a59"
        status:
          type: string
          example: 'pending'
          
    VerifyBankAccountRequest:
      type: object
      required:
      - beneficiary
      - institutionName
      - method
      properties:
        beneficiary:
          type: string
          example: "Jose Medina"
        clabe:
          type: string
          example: ""
        institutionName:
          type: string
          example: BBVA
        institutionCode:
          type: string
          example: 303
        method:
          type: string
          example: "debit card"
        phoneNumber:
          type: string
          example: ""
        debitCard:
          type: string
          example: "3949 3939 9533 1039"
          
          
    GenerateApiKeyResponse:
      type: object
      description: Returns an api key object containing the name, description, orgId and value
      properties:
        orgId: 
          type: string
          example: PlatapusCorp
        name:
          type: string
          example: MannysKey
        value:
          type: string
          example: xd393hd9369954jdkkcnxi234eov39
          
    VerifyBankAccountResponse:
      type: object
      description: Returns whether the bank account was verified and a corresponding message like "successfully verified" or "incorrect clabe" in case of error
      properties:
        verified: 
          type: boolean
          example: true
        message:
          type: string
          example: "successfully verified bank account info"
          
    ListApiKeysResponse:
      type: object
      description: 'Returns a list of api keys corresponding to an organization'
      properties:
        keys:
          type: array
          items:
            properties: 
              orgId:
                type: string
                example: PlatapusCorp
              name:
                type: string
                example: Mannys api key
              value:
                type: string
                example: 949ms3dkdk392kwdkj39djfkk1003x86849
          
    WithdrawalProvidersResponse:
      type: object
      description: 'Returns a list of corresponding banks to which Relampago can send'
      properties:
        banks:
          type: array
          items:
            properties: 
              name:
                type: string
                example: Santander
              code:
                type: string
                example: 40014
              countryCode:
                type: string
                example: MX